.intro-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.98);
  z-index: 9999;
  overflow: hidden;
}

.footstep-trail {
  position: absolute;
  width: 30px;
  height: 30px;
  fill: #ffffff;
  opacity: 0.8;
  transform-origin: center;
}

.footstep-trail:not(.completed) {
  animation: fadeOut 2s forwards;
}

.footstep-trail.left {
  transform: rotate(-15deg) scaleX(-1);
}

.footstep-trail.right {
  transform: rotate(15deg);
}

@keyframes fadeOut {
  0% { opacity: 0.8; }
  100% { opacity: 0; }
}

.pulsating-light {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  filter: drop-shadow(0 0 150px rgba(255, 255, 255, 0.5));
}

.intro-overlay.fade-out {
  animation: fadeOverlay 1s ease 0.5s forwards;
  pointer-events: none;
}

@keyframes fadeOverlay {
  from { opacity: 1; }
  to { opacity: 0; }
}



.footstep-trail.completed {
  opacity: 0.8;
  animation: none;
}

@media only screen and (max-width: 768px) {
  .pulsating-dot {
    width: 15px;
    height: 15px;
  }
}